/* global styling begins */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /* background: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  font-family: "poppins", sans-serif;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: #66fcf1;
}

li {
  list-style-type: none;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3.5rem;
}
h4 {
  font-size: 4rem;
  text-transform: uppercase;
}

h5 {
  font-size: 2.3rem;
}
/* global styling ends here  */

/* navbar starts from here */
nav {
  background-color: #1f2833;
  min-height: 10vh;
  display: flex;
  min-width: 100vw;
}
nav .s {
  color: #c5c6c7;
}
nav .s2 {
  color: #45a29e;
}
nav .s3 {
  color: #c5c6c7;
}
ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  flex: 1 1 20rem;
}
nav ul li a {
  text-transform: uppercase;
}
nav ul li:hover {
  transform: scale(1.5);
  transition: all 1s ease-in-out;
}
nav h1 {
  flex-grow: 0.5;
  padding-left: 2rem;
  padding-top: 1rem;
}
@media screen and (max-width: 779px) {
  nav {
    flex-direction: column;
    height: 20vh;
  }
  nav h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 430px) {
  nav {
    flex-direction: column;
    height: 40vh;
  }
  nav ul {
    flex-direction: column;
    font-size: 1.5rem;
  }
  nav h1 {
    display: flex;
    align-items: center;
    font-size: 3rem;
  }
}
@media screen and (max-width: 237px) {
  nav ul {
    font-size: 1.1rem;
  }
  nav h1 {
    font-size: 2rem;
  }
}
/* navbar ends here! *

/* main section starts from her */
main {
  display: flex;
  flex: 1 1 20rem;
  min-height: 90vh;
  justify-content: center;
  background: url(/images/background.png);
  background-size: 200vh;
  background-position: center;  
}
.left-side-of-main {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  width: 40vw;
  padding-top: 1rem;
  border: 3px solid #66fcf1;
  margin-top: 10rem;
  margin-left: 1rem;
}
.left-side-of-main h2 {
  text-transform: uppercase;
  text-shadow: 3px 3px 30px #66fcf1;
  padding: 1rem;
  font-size: 3rem;
  color: #66fcf1;
  text-align: center;
}
.left-side-of-main p {
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 2rem;
  color: #c5c6c7;
}
.left-side-of-main article {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 2rem;
  color: #c5c6c7;
}
.left-side-of-main h4 {
  text-shadow: 3px 3px 30px #33b9f8;
  padding-top: 3rem;
  text-align: center;
  color: #5ff1d0;
  font-size: 3rem;
}
.right-side-of-main {
  height: 90vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side-of-main img {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #66fcf1;
}
.right-side-of-main img:hover{
  transform: scale(1.1);
  transition: all 2s ease-in;
}
@media screen and (max-width:861px) {
  main{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .left-side-of-main{
    width: 70vw;
    padding-bottom: 4rem;
  }
  .left-side-of-main p{
    font-size:1.5rem;
  }
  .left-side-of-main article{
    font-size:1.5rem;
  }
  .right-side-of-main{
    height: 60vh;
  }
}
@media screen and (max-width:390px) {
  .right-side-of-main img 
  {
    width: 300px;
    height: 300px;
  }
  .left-side-of-main p{
    font-size: 1.3rem;
  }
  .left-side-of-main article{
    font-size: 1.3rem;
  }
}

/* main section ended here */

/* middle part starts here  */
.middle {
  min-height: 100vh;
  background: url(/images/background2.jpg);
  background-size: cover;
  background-position: center;
}
.middle h2 {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  padding-top: 5rem;
  color: #66fcf1;
  text-shadow: #33b9f8 3px 3px 20px;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border: 2px solid white;
  background-color: #45a29e;
  min-height: 35rem;
  width: 30rem;
  margin: 2rem;
}
.card h5 {
  background-color: #1f2833;
  padding: 3rem 0;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  color: #66fcf1;
}
.card p {
  font-size: 1.5rem;
  justify-content: center;
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.card:hover {
  background-color: #0b0c10;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s ease;
}
@media screen and (max-width: 568px) {
  .middle h2 {
    font-size: 2.5rem;
  }
  .card p{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 568px) {
  .middle h2 {
    font-size: 3rem;
  }
}
/* middle section ends here  */

/* workflow section starts here  */

.workflow{
  min-height: 100vh;
  width: 100vw;
  background: url(/images/umberto-FewHpO4VC9Y-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.workflow h4{
  font-size: 5rem;
  padding-top: 6rem;
  color: #66fcf1;
  text-align: center;
}
.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.projectcard{
  background-color: #1f2833;
  min-height:40vh;
  width: 40vh;
  margin: 5rem;
  box-shadow: #45a29e -1px 1px 19px;
}
.projectcard h5{
  padding: 2rem;
  background-color: #45a29e;
  text-align: center;
  text-transform: uppercase;
}
.projectcard p{
  color: #c5c6c7;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 2rem;
  text-align: center;
  margin-bottom: 7rem;
}
.projectcard button{
  background-color: #45a29e;
  height: 4rem;
}
.projectcard a{
  font-size: 3rem;
  color: #1f2833;
}
.coming-soon{
        margin:10rem 3rem;
}
.projectcard  div button{
  width: 15rem;
  padding: .1rem;
  border-radius: 9rem;
  box-shadow: #45a29e -1px 1px 5px;
  border: none;
}
.projectcard div{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* workflow ends here */

/*footer starts from here*/

footer{
  min-height: 5vh;
  background-color: #1f2833;
}
h6{
  color: #66fcf1;
  font-size: 1.5rem;
  padding-top: 6px;
  text-align: center;
  text-transform: lowercase;
}